{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block header %} Search Product {% endblock %}
{% block content %}
{% load static %}
<body>
 <!-- product section -->
 <section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Our <span>products</span>
         </h2>
      </div>
      
      <div  class="row">
         {% for product in products %}   
         <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     
                     <a href="" class="option2">
                        <form class="d-flex" action="/cart" method="GET">
                           <!-- Default input -->
                           <input type="hidden" name="id" value="{{product.id}}" />
                           <input type="hidden" name="qty" value="1" aria-label="Search" class="form-control" style="width: 100px">
                           <button id="btn-add-to-cart" class="btn btn-primary btn-md" type="submit" data-toggle="modal" data-target="#cart-model"><i class="fa fashopping-cart" aria-hidden="true"></i> Add to cart</button>
                        </form>
                    
                     </a>
                  </div>
               </div>
            
               <div class="img-box">
                  <img src="{{ product.image_url }}" alt="">
               </div>
               <div class="detail-box">
                  <h5>
                     {{product.name}}
                     {{ product.brand.name }}
                  </h5>
                  <h6>
                     {{product.price}}
                  </h6>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="btn-box">
         <a href="">
         View All products
         </a>
      </div>
   </div>
</section>
<!-- end product section -->
</body>
   {% endblock %}    